<div class="border border-dark rounded my-3 p-3 w-50">
  <div>
    <p>"{{ quote.text }}"</p>
    <p> - <strong>{{ quote.name }}</strong></p>
  </div>
    <a routerLink="/edit" class="btn btn-secondary mr-3">Change</a>
    <button class="btn btn-danger" (click)="deleteQuote()">Delete</button>
</div>
