<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Quotes.Auf</a>
  <div class="navbar-expand ml-auto">
    <ul class="navbar-nav ">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/">Quotes</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" routerLink="/create">Add new quote</a>
      </li>
    </ul>
  </div>
</nav>

