<h2>Submit quote</h2>
<form (submit)="createQuote()">
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" #nameInput>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select class="form-control" id="category" #categorySelect>
      <option value="motivation">Motivation</option>
      <option value="witcher">Witcher</option>
      <option value="auf">AUF</option>
      <option value="starWars">Star Wars</option>
      <option value="humor">Humor</option>
    </select>
  </div>
   <div class="form-group">
    <label for="text">Quote Text</label>
    <input class="form-control" id="text" #quoteText>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
