<div class="list-group mt-3">
  <a routerLink="/" (click)="getCategory('/')" class="list-group-item list-group-item-action" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">All</a>
  <a routerLink="/quotes/motivation" (click)="getCategory('motivation')" class="list-group-item list-group-item-action" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Motivation</a>
  <a routerLink="/quotes/witcher" (click)="getCategory('witcher')" class="list-group-item list-group-item-action" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Witcher</a>
  <a routerLink="/quotes/auf" (click)="getCategory('auf')" class="list-group-item list-group-item-action" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">AUF</a>
  <a routerLink="/quotes/starWars" (click)="getCategory('starWars')" class="list-group-item list-group-item-action" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Star Wars</a>
  <a routerLink="/quotes/humor" (click)="getCategory('humor')" class="list-group-item list-group-item-action" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Humor</a>
</div>
