
<div class="row">
  <div class="col-6">
    <app-quotes-nav (category)="getCategory($event)"></app-quotes-nav>
  </div>
  <div class="col-6">
    <app-quotes-block *ngFor="let quote of quotes" [quote]="quote"></app-quotes-block>
  </div>
</div>
